<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbConnectionString" 
         connectionString="Data Source=TOSHIBA-PC\SQL_INSTANCE;Initial Catalog=MainDb;Integrated Security=False;User Id=sa;Password=atarudh" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="url" value="https://www.bankofalbania.org/web/Kursi_i_Kembimit_2014_1.php"/>
    <add key="cssClass" value="tabcontent"/>
    <add key="tabId" value=""/>
  </appSettings>
</configuration>